// Body resets
//
// Update the foundational and global aspects of the page.

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 950px) {
    .content {
        padding-left: 5%;
        padding-right: 5%;
    }
}

// font family is loaded from variables.scss module
html {
    font-family: $root-font-family;
}

@media (min-width: $big-breakpoint) {
    html {
        font-size: $big-font-size;
    }
}
@media (min-width: $large-breakpoint) {
    html {
        font-size: $large-font-size;
    }
}

body {
    color: $body-color;
    background-color: $body-bg;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

// No `:visited` state is required by default (browsers will use `a`)
a {
    color: $link-color;
    text-decoration: none;

    // `:focus` is linked to `:hover` for basic accessibility
    &:hover,
    &:focus {
        text-decoration: underline;
    }

    strong {
        color: inherit;
    }
}

img {
    display: block;
    max-width: 100%;
    margin: 0 0 1rem;
    border-radius: 5px;
}

table {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 85%;
    border: 1px solid #e5e5e5;
    border-collapse: collapse;
}

td,
th {
    padding: 0.25rem 0.5rem;
    border: 1px solid #e5e5e5;
}

th {
    text-align: left;
}

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}

/*
 * Sidebar
 *
 * Flexible banner for housing site name, intro, and "footer" content. Starts
 * out above content in mobile and later moves to the side with wider viewports.
 */

.sidebar {
    text-align: center;
    padding: 2rem 1rem;
    color: rgba(255, 255, 255, 0.5);
    background-color: $sidebar-color;
}
@media (min-width: 48em) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: 18rem;
        text-align: left;
    }
}

/* Sidebar links */
.sidebar a {
    color: #fff;
}

/* About section */
.sidebar-about h1 {
    color: #fff;
    margin-top: 0;
    font-family: "Teko", serif;
    font-size: 4rem;
}

/* Sidebar nav */
.sidebar-nav {
    margin-bottom: 1rem;
}
.sidebar-nav-item {
    display: block;
    line-height: 1.75;
}
a.sidebar-nav-item:hover,
a.sidebar-nav-item:focus {
    text-decoration: underline;
}
.sidebar-nav-item.active {
    font-weight: bold;
}

/* Sticky sidebar
 *
 * Add the `sidebar-sticky` class to the sidebar's container to affix it the
 * contents to the bottom of the sidebar in tablets and up.
 */

@media (min-width: 48em) {
    .sidebar-sticky {
        position: absolute;
        right: 1rem;
        bottom: 1rem;
        left: 1rem;
    }
}

/*
 * Reverse layout
 *
 * Flip the orientation of the page by placing the `.sidebar` on the right.
 */

@media (min-width: 48em) {
    .layout-reverse .sidebar {
        left: auto;
        right: 0;
    }
    .layout-reverse .content {
        margin-left: 2rem;
        margin-right: 20rem;
    }
}

@media (min-width: 64em) {
    .layout-reverse .content {
        margin-left: 4rem;
        margin-right: 22rem;
    }
}

/*
 * Themes
 *
 * As of v1.1, Hyde includes optional themes to color the sidebar and links
 * within blog posts. To use, add the class of your choosing to the `body`.
 */

/* Base16 (http://chriskempson.github.io/base16/#default) */

/* Red */
.theme-base-08 .sidebar {
    background-color: #ac4142;
}
.theme-base-08 .content a,
.theme-base-08 .related-posts li a:hover {
    color: #ac4142;
}

/* Orange */
.theme-base-09 .sidebar {
    background-color: #d28445;
}
.theme-base-09 .content a,
.theme-base-09 .related-posts li a:hover {
    color: #d28445;
}

/* Yellow */
.theme-base-0a .sidebar {
    background-color: #f4bf75;
}
.theme-base-0a .content a,
.theme-base-0a .related-posts li a:hover {
    color: #f4bf75;
}

/* Green */
.theme-base-0b .sidebar {
    background-color: #90a959;
}
.theme-base-0b .content a,
.theme-base-0b .related-posts li a:hover {
    color: #90a959;
}

/* Cyan */
.theme-base-0c .sidebar {
    background-color: #75b5aa;
}
.theme-base-0c .content a,
.theme-base-0c .related-posts li a:hover {
    color: #75b5aa;
}

/* Blue */
.theme-base-0d .sidebar {
    background-color: #6a9fb5;
}
.theme-base-0d .content a,
.theme-base-0d .related-posts li a:hover {
    color: #6a9fb5;
}

/* Magenta */
.theme-base-0e .sidebar {
    background-color: #aa759f;
}
.theme-base-0e .content a,
.theme-base-0e .related-posts li a:hover {
    color: #aa759f;
}

/* Brown */
.theme-base-0f .sidebar {
    background-color: #8f5536;
}
.theme-base-0f .content a,
.theme-base-0f .related-posts li a:hover {
    color: #8f5536;
}
