// Custom layout overwrites

#sidebar .site-title {
    font-weight: bold;
}

img.emoji {
    display: inline;
    transform: none;
    vertical-align: text-top;
    padding: 0;
    margin: 0;
}

a#github-icon,
a#email-icon,
a#support-icon {
    order: -1;
}
